.footer-section {
    background: $gray-1;
    width: 100%;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;

    p{
    	@include font($font-desc, 14px, 500, $black-2);
    	letter-spacing: 1px;
	}

	.logo img {
    	max-width: 80px;
    	position: relative;
    	top: -2px;
	}

	.title-list-footer {
		@include font($font-title, 16px, 600, $primary-color);
		letter-spacing: 1px;
	}

	ul.nav-footer {
	    float: left !important;
	    padding: 0;
	    width: 100%;
	    display: block;
		
		li {
		    display: block;
		    float: left;
		    margin-top: .3rem;
		    width: 100%;
		}

		.nav-link {
		    color: #fff;
		    padding: 0;
		}
	}

	.divider {
	    background: #46484a;
	    width: 100%;
	    height: .1rem;
	    margin: 2rem 0 1.5rem 0;
	}

	.social li a {
	    background: none;
	    color: $black-2;
	    border: none;
	}
}

.nav-footer .nav-item .nav-link {
	@include font($font-title, 14px, 500, $black-2);	
	letter-spacing: 1px;
}

.copyright-section{
	position: relative;
	padding: 15px;

	p{
		@include font($font-title, 16px, 500, $primary-color);
		letter-spacing: 0.2px;
	}
}