.badge{
    padding: 10px 40px;
    border-radius: 80px;
    font-size: 15px;
    font-weight: 500 !important;
    color: $white-1;
    font-family: $font-title;
    margin-bottom: 10px;

    &.badge-warning{
        background: $yellow-1;
    }

    &.badge-primary{
        background: $primary-color;
    }

    &.badge-danger{
        background: $red-1;
    }
}