.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: unset;
    border-radius: 0;

    .breadcrumb-item a,
    .breadcrumb-item.active{
        @include font($font-title, 15px, 500, $primary-color);
        line-height: normal;
        letter-spacing: 1px;
    }

    .breadcrumb-item.active{
        display: flex;
        align-items: center;
    }

    .breadcrumb-item+.breadcrumb-item::before{
        color: $black-3;
        font-family: FontAwesome;
        content: "\f105";
    }
}