.btn-outline-primary, 
.btn-outline-secondary, 
.btn-outline-white, 
.btn-outline-success, 
.btn-outline-info, 
.btn-outline-warning, 
.btn-outline-danger {
  border-width: 0.15rem; 
}


.btn{
  padding: 10px 30px !important;
  border-radius: 4px !important;
  letter-spacing: 1px;

  &.btn-xs{
    padding: .4rem .7rem !important;
    font-size: 14px !important;
  }

  &.btn-long-md{
    padding: .6rem 3.5rem !important;
  }

  &.btn-sm{ 
    font-size: .9em !important;
    padding: 6px 10px !important;
  }

  &.btn-md{ 
    padding: 9px 30px !important;
  }

  &.btn-lg{
    padding: 12px 35px !important;
  }

  &.btn-xl{
    padding: 17px 16px !important;
  }

  &.rad-80{ border-radius: 80px !important; }

  &.mini-shadow{ box-shadow: 0 1px 3px 0 $white-4 !important; }

  &:hover{ opacity: .85; }
}

.btn-primary { 
  @include font($font-title, 14px, 500, $white-1);
  transition: 0.3s all ease;
  background: $primary-color;
  border-color: $primary-color;

  &:hover { 
    background: $primary-color;
    border-color: $primary-color;
    color: $white-1 !important;
  }
}

.btn-fb { 
  @include font($font-title, 14px, 500, $white-1);
  transition: 0.3s all ease;
  background: #475993;
  border-color: #475993;

  &:hover { 
    background: #475993 !important;
    border-color: #475993;
    opacity: .9;
    color: $white-1 !important;
  }
}

.btn-twitter { 
  @include font($font-title, 14px, 500, $white-1);
  transition: 0.3s all ease;
  background: #03a9f4;
  border-color: #03a9f4;

  &:hover { 
    background: #03a9f4 !important;
    border-color: #03a9f4;
    opacity: .9;
    color: $white-1 !important;
  }
}

.btn-secondary { 
  @include font($font-title, 14px, 500, $primary-color);
  transition: 0.3s all ease;
  background: $white-5;
  border-color: $white-5;

  &:hover { 
    background: $white-5;
    border-color: $white-4;
    color: $primary-color !important;
  }
}

.btn-outline-primary { 
  @include font($font-title, 14px, 500, $primary-color);
  transition: 0.3s all ease;
  background: transparent;
  border-color: $primary-color;

  &:hover { 
    background: $primary-color;
    border-color: $primary-color;
    color: $white-1 !important;
  }
}

.btn-danger, .btn-green { 
  @include font($font-title, 14px, 500, $white-1);
  transition: 0.3s all ease;
  background: $green-1;
  border-color: $green-1;

  &:hover { 
    background: $green-1;
    border-color: $green-1;
    color: $white-1 !important;
  }
}

.btn-default { 
  @include font($font-title, 14px, 300, $primary-color);
  transition: 0.3s all ease;
  background: $white-1;
  border-color: $white-1;

  &.btn-sm{ 
    font-size: .8em !important;
    padding: 5px 10px !important;
  }

  &.btn-lg{
    padding: 10px 30px !important;
  }

  &.f-w-500{ font-weight: 500 !important; }

  &:hover { 
    background: $white-1;
    border-color: $white-1;
    color: $primary-color !important;
  }
}