.card {
	transition: 0.3s all ease;
	// @include box-shadow(0, 6px, 10px, 0px, $white-blue-old);
    border: 1px solid $black-4 !important;
    border-radius: 15px !important;

    &.rad-5{
        border-radius: 5px !important;
    }

    &.card-gray{
        background: $white-3 !important;
        border: 1px solid $white-4 !important;

        &.border-0{
            border: 0 !important;
        }

        .card-text{
            color: $black-2 !important;
        }

        .title-example{
            font-size: 18px !important;
            line-height: 1.56;
            letter-spacing: 1.33px;
        }
    }

    &.card-active-hv{
        &:hover{
            cursor: pointer;
            background: $primary-color !important;

            h1, h2, h3, h4, h5, h6, p, a, span{
                color: $white-1 !important;
            }

            .card-title{
                h1, h2, h3, h4, h5, h6, p, a, span{
                    font-size: 15px;
                    letter-spacing: 0.3px;
                }
            }
        }
    }

 	.card-text{ @include font($font-desc, 16px, 300, $black-3); margin-bottom: 8px; letter-spacing: 0.3px; }

    &.card-md{ padding: 1rem; }
    &.card-sm{ padding: .5rem .9rem; }

    // &.card-md.card-active-hv{ min-height: 80px; }

    .card-title{
        font-family: $font-title;
        color: $black-1;
        font-weight: 600;
        margin-bottom: 8px;
        line-height: 1.56;
        letter-spacing: 1.25px;

        &.strong{ 
            h1, h2, h3, h4, h6, p, a, span{
                font-weight: 600; 
            }
        }

        &.title-sm{ font-size: 16px; }
    }

    &.card-active, &.card-list.active{
        background: $primary-color;
        border-radius: 4px;

        h1, h2, h3, h4, h5, h6, p, a, span{
            color: $white-1 !important;
        }

        a.btn-default{ color: $primary-color !important; }

        .card-title{
            h1, h2, h3, h4, h5, h6, p, a, span{
                font-size: 15px;
                letter-spacing: 0.3px;
            }
        }
    }

    &.card-list{
        &:hover{
            transition: 0.3s all linear;
            margin-left: 10px;
        }

        &.active{ margin-left: 10px; }
    }

    &.card-slick-custom{
        &.slick-slide{
            padding: 0;

            img{
                border: 0;
            }
        }
    }

    &.card-panel{
        border-radius: 5px !important;
        border: solid 1px $white-4 !important;
        background-color: $white-3 !important;
        padding: 1.5rem;
    }
}

.card-bg-primary__overlay{
	background: $gray-blue-1;
    min-height: 300px;
    padding-top: 7rem;

    &.card-md{ 
        padding: 1.8rem !important; 
        min-height: 220px; 
        border-radius: 7px;
    }

    .card-text{
    	color: $black-2 !important;
        line-height: 24px;
        margin-bottom: 0;
    	font-size: 14px !important;
    }
}

.content__card{
    margin-bottom: 6rem;
    
    .strong-md{
        font-weight: 400;
        @media screen and (min-width: 992px){ font-weight: 500; }
    }
}

.card-header__list{
    display: block;
    padding: .5rem 1.1rem;
    cursor: pointer;
    background: $white-1;
    border-bottom: 0;
    margin-bottom: .8rem;
    @include radius-important(3px);
    @include box-shadow(2px, 2px, 4px, 2px, $rgba-black);
    @include font($font-title, 14px, 400, $black-1);

    @media screen and (min-width: 992px){
        display: none;
    }

    &.active{
        background: $primary-color;
        color: $white-1 !important;
    }
}

.content-acc{
    @media screen and (max-width: 767px){
        padding: 0 0 1rem;
        font-size: 14px;
    }
}

.card-img-top{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card-img-bottom{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.card-author{
    @include display-flex(flex);
    padding-bottom: 10px;
    border-bottom: 1px solid $black-4;

    &.no-border{
        border: 0 !important;
    }
    
    .img-profile{
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 12px;
    }

    .info-profile{
        position: relative;

        .title{
            @include font($font-title, 15px, 600, $black-1);
            letter-spacing: 1px;
            margin-bottom: 0;
            line-height: 25px;
        }

        .desc{
            @include font($font-desc, 13px, 300, $black-3);
            letter-spacing: 1px;
            margin-bottom: 0;
            line-height: 25px;
        }
    }
}

.card-image-only{
    position: relative;
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: rgba(0,0,0,0.5);
        border-radius: 14px;
    }

    .img-bg{
        height: 300px;
        width: 100% !important;
        object-fit: cover;
        object-position: center;
        border-radius: 14px;
    }
}

.card-pd-md{
    @media screen and (min-width: 768px){
        padding: 2rem;
    }
}

.card-body-md{
    position: relative;
    min-height: 330px;
}

.card-center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1.5rem;

    .icon-featured{
        max-width: 100%;
        max-height: 70px;
        object-fit: cover;
        object-position: center;
    }
}

.card-box-shadow{
    border-radius: 5px !important;
    @include box-shadow(0, 2px, 5px, 0, $white-2);
    border: solid 1px $white-2 !important;

    .card{
        border-radius: 5px !important;
        border: solid 2px $white-2 !important;
    }
}