.slick-custom{
    .slick-dots{
        bottom: unset;
        margin-top: 2rem;

        li{
            &.slick-active{
                button:before{
                    color: $primary-color;
                }
            }
            
            button:before{
                font-size: 15px;
                color: $black-4;
                opacity: 1 !important;
            }
        }
    }
}

.slick-slide:focus {
    box-shadow: none;
    outline: none;
}

.slick-arrow-block{
    @include display-flex(flex);
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
    position: relative;
    margin-top: 3rem;

    @media screen and (max-width: 767px){
        display: none !important;
    }

    &.auto-50{
        width: 100%;
        position: absolute;
        top: 50%;
        margin: unset !important
    }

    .slick-arrow{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $black-5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $primary-color;
        font-size: 20px !important;

        &:hover, &:focus{
            background: $black-4;
            transition: .5s;
        }
    }
}