.nav-tabs {
    border-bottom: 1px solid $black-4;
    margin-top: 1rem;

    &.tabs-default{
        margin-top: 0;
        border-radius: 5px;
        background: $white-5;

        .nav-item{
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            text-align: center;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-right: 0;
            font-size: 15px !important;
            margin-right: 0;

            svg g, svg path {
                fill: $black-3 !important;
            }
            
            &.active{
                color: $primary-color !important;

                svg g, svg path {
                    fill: $primary-color !important;
                }

                &:after {
                    border: 1.5px solid $primary-color;
                }
            }
        }
    }

    .nav-item{
        flex: unset;
        text-align: left;
        padding: 1rem 2rem 1rem 0;
        margin: 0 1.5rem 0 0;
        @include font($font-title, 1.1rem, 500, $black-2);
        letter-spacing: 1px;
        position: relative;

        &.active{
            color: $red-1 !important;
            transition: .5s;
            font-weight: 600 !important;
            
            &:after{
                content: "";
                position: absolute;
                border: 1.5px solid $red-1;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        &:first-child{
            margin-left: 0;
        }

        &.tabs-flex{
            flex: 1 1 auto;
            text-align: center;
        }
    }
}