@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500,600,700,900|Source+Sans+Pro:200,300,400,600,700&display=swap');

h1, h2, h3, h4, h5, h6{ 
	font-family: $font-title; 
	font-weight: 500;
	letter-spacing: 1px;
}

h1 { font-size: 4rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.55rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.1rem; }

p, label { 
	@include font($font-desc, .9rem, 500, $black-3); 
	line-height: 25px;
	letter-spacing: 1px; 
}

.text-paragraf{
	font-size: 15px !important;
}

a, a.text-primary{
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus{
		text-decoration: none;
		color: $primary-color !important;
	}
}

.text-title{ font-family: $font-title !important; }

.text-primary{ color: $primary-color !important; }
.text-danger{ color: $red-1 !important; }
.text-white{ color: $white-1 !important; }
.text-default{ color: $black-1 !important; }
.text-dark{ color: $black-2 !important; }
.text-secondary{ color: $black-3 !important; }

.text-link{ 
	color: $black-1; 

	&:hover, &:focus{
		color: $black-3;
		// opacity: .65;
	}
}

.font-title { font-family: $font-title !important; }
.font-desc { font-family: $font-desc !important; }

.font-100 { font-weight: 100 !important; }
.font-200 { font-weight: 200 !important; }
.font-300 { font-weight: 300 !important; }
.font-400 { font-weight: 400 !important; }
.font-500 { font-weight: 500 !important; }
.font-600 { font-weight: 600 !important; }
.font-700 { font-weight: 700 !important; }
.font-800 { font-weight: 800 !important; }
.font-900 { font-weight: 900 !important; }

.font-16{
	font-size: 16px !important;
}

.ls-93{
	letter-spacing: 0.93px !important;
}